{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'course/css/style.css' %}" />
    <title>Course</title>
  </head>
  <body>
    <section class="course">
      <div class="courses">
        <h3>Bangla: {{b}}</h3>
      </div>
      <div class="courses">
        <h3>English: {{e}}</h3>
      </div>
      <div class="courses">
        <h3>Math: {{m}}</h3>
      </div>
      <div class="courses">
        <h3>Science: {{s}}</h3>
      </div>
    </section>
  </body>
</html>
