{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>This is Course section 1</title>
    <link rel="stylesheet" href="{% static  'css/style.css'%}" />
  </head>
  <body>
    {% if ck %}
    <h1>Course Name: {{ban}}</h1>
    {% endif %}

    <h1>There Is Course Information</h1>
    <p>Course Name : {{nm|lower}}</p>
    <p>Duration : {{du}}</p>
    <p>Total Seats: {{st}}</p>
    <p>Date Time: {{dt|date:'D d M Y'}}</p>
    <p>Time: {{dt|time:'H:i A'}}</p>
    <p>Short Date Format: {{dt|date:'SHORT_DATE_FORMAT'}}</p>
    <p>Short Time Format: {{dt|time:'TIME_FORMAT'}}</p>

    <p>Float Format: {{n1|floatformat}}</p>
    <p>Float Format: {{n2|floatformat:2}}</p>
    <p>IF TAG</p>

    {% if st > 0 %}
    <h1>Seat Available</h1>
    {% else %}
    <h1>No Seat Available</h1>
    {% endif %}
    <h1></h1>
  </body>
</html>
