{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!--                                "{% static 'css/style.css'%}"-->
  </head>
  <body>
    <h1>This is a course section name one</h1>
    <h1>Hello World</h1>
    <h2>My Name is Shuvo</h2>
    <section class="grid">
      <div class="section">
        <h4>1</h4>
      </div>

      <div class="section">
        <h4>2</h4>
      </div>

      <div class="section">
        <h4>3</h4>
      </div>

      <div class="section">
        <h4>4</h4>
      </div>
    </section>
  </body>
</html>
